<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>
<div class="row spacer">
  <div class="col-md-8"><b>Name</b></div>
  <div class="col-md-4"><b>Actions</b></div>
</div>

<% @groups.each do |group| %>
<div class="row spacer">
  <div class="col-md-8"><%= group.name %></div>
  <div class="col-md-4">
    <%= link_to 'Show', group, class: 'btn btn-default btn-xs' %>
    <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-default btn-xs' %>
    <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs' %>
  </div>
  
</div>

<% end %>
  
<br>

<%= link_to 'New Group', new_group_path, class: 'btn btn-primary' %>
