<div class="row spacer">
  <div class="col-md-12"> 
    <p id="notice" class="bg-success"><%= notice %></p>
  </div>
</div>
<div class="row spacer">
  <div class="col-md-12">
    <%= @lesson.group.name %> > <%= @lesson.title %>
  </div>
</div>
<div class="row spacer">
  <div class="col-md-12">
    <%= @lesson.body %>
  </div>
</div>

<hr/>
<div>
	<%= @local_data %>
</div>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
